.container {
  width: 100%;
  background-color: var(--primary);
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: var(--shadow);
}
/* Main Title */
.title {
  font-family: 'Berkshire Swash', cursive;
  text-align: center;
  font-size: 2.3em;
  margin-bottom: 10px;
  color: var(--dark);
}