$main-bg:hsl(0, 0%, 85%);
$primary-color:#78CDD7;
$secondary-color: #DBD56E;
$text-light-bg: hsla(233, 4%, 19%, 0.75);
$text-dark-bg: hsla(30, 100%, 99%, 0.959);
$shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.45);
@mixin easeOut {
  transition: all 0.5s ease-out;
}

@function set-text-color($color) {
  @if(lightness($color) > 50) {
    @return $text-light-bg;
  }
  @else {
    @return $text-dark-bg;
  }
}